ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
a{
    color: inherit;
  text-decoration: none;
}

.container{
    margin-top: 0.5em;
}
i{
    color:white;
}
.optBtn a{
    margin-left: 0.5em;
}
.optBtn{
    float:right;
    margin: 1em 0;
}