<h1>Home</h1>
<h6>Loaded elements {{total}}</h6>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Second name</th>
      <th scope="col">Job profesion</th>
      <th scope="col">Age</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody *ngFor="let employee of listEmployees">
    <tr>
      <th scope="row">{{employee.firstName}}</th>
      <td>{{employee.secondName}}</td>
      <td>{{employee.position}}</td>
      <td>{{employee.age}}</td>
      <td><div class="optBtn">
        <a [routerLink]="['edit',employee._id]" class=" btn btn-info"><i class="fas fa-pencil-alt"></i></a>
        <a [routerLink]="['delete',employee._id]" class="btn btn-danger" ><i class="fas fa-trash"></i></a>
      </div>
    </td>
    </tr>
</tbody>


